<script setup lang='ts'>
import { ref, onMounted } from 'vue'

onMounted(() => {
  console.log('xxx')
})
</script>

<template>
  <div class="page-demo-container">
    <div>aaa</div>
  </div>
</template>

<style>
.page-demo-container {

}
</style>
