<script setup lang="ts">
import { AiEditor } from "aieditor";
import "aieditor/dist/style.css";
import { ref, onMounted, onUnmounted, nextTick } from "vue";
import ChatCps from "../chatCps/index.vue";
import { NSpace, NInput, NButton } from 'naive-ui'
import { useMessage } from 'naive-ui'
import type { MessageReactive } from 'naive-ui'

const divRef = ref();
let aiEditor: AiEditor | null = null;

const value1 = ref("")

const value2 = ref("")

const btnDisabled = ref(false)

const list = ref([
`## 一、中国经济发展现状

### 1. 经济增长率

### 2. 对外贸易情况

### 3. 产业结构调整`,

`
## 二、科技创新与产业升级

### 1. 新兴产业发展状况

a 人工智能领域进展\
b 5G通信技术发展

### 2. 高科技产业园区建设成果
`,
`## 三、生态文明建设与绿色发展策略

### 1. 生态环境保护工作成效

a 大气污染防治行动计划实施情况\
b 水资源保护和治理进展

### 2. 发展低碳经济的措施`,
`## 四、教育改革与发展成就

### 1. 全面深化教育体制改革举措

a 高等教育内涵式发展政策\
b）职业教育体系创新实践\
2．促进教育资源均衡配置`,
`## 五、文化繁荣与国际交流合作

1．中华文化传承与发展动态\
a）非物质文化遗产保护项目\
b）历史文化名城名镇振兴规划\
2．“一带一路”文化交流与合作案例`,
`## 六、民生改善和社会稳定维护

1．医疗卫生事业进步及保障措施\
a）全民基本医保制度完善情况\
b）公共卫生服务体系建设成就\
2．社会福利体系健全化及覆盖范围扩大`,
`## 七、区域协调发展战略实现效果

1．京津冀协同发展取得成绩\
a）交通一体化进程\
b）生态环境联防联治格局形成\
2．长江经济带高质量发展新模式探索`,
`## 八、国家安全和社会治理现代化推进步伐

1．社会治安综合治理能力提升表现\
a "平安城市"建设项目推广实施\
b “智慧警务”系统应用普及度提高\
2 . 全民法治意识增强，法律法规宣传普及程度增长`,
`## 九、全面从严治党加强党的自我革命历程回顾及其未来展望`,
`十：总结篇  中国特色社会主义进入新时代下的全面发展蓝图`


])

const message = useMessage()
let messageReactive: MessageReactive | null = null

const removeMessage = () => {
  if (messageReactive) {
    messageReactive.destroy()
    messageReactive = null
  }
}

function createMessage () {
  if (!messageReactive) {
    messageReactive = message.info('文档生成中，请稍等', {
      duration: 0
    })
  }
}


function generate() {
  aiEditor.clear()
  btnDisabled.value = true
  createMessage()
  let index = 0
  let timer = setInterval(() => {
    // 将生成的内容插入到光标位置
    aiEditor?.innerEditor.commands.insertContent(
      list.value[index]
    );
    aiEditor?.innerEditor.commands.scrollIntoView() 
    let scrollElem = divRef.value as any
    nextTick(() => {
      scrollElem.scrollTo({ top: scrollElem.scrollHeight, behavior: "smooth" })
    })
    index++
    aiEditor.focusEnd()
    if (index > 10) {
      removeMessage()
      message.success(
        "文档生成完成"
      )
      btnDisabled.value = false
      clearInterval(timer)
    }
  }, 1000)
}

onMounted(() => {
  aiEditor = new AiEditor({
    element: divRef.value as Element,
    placeholder: "点击输入内容...",
    content: "",
    onChange: (editor: AiEditor) => {
      // 内容发生变化时，将内容保存到本地缓存中
      // localStorage.setItem(AI_EDITOR_CACHE_KEY, editor?.getMarkdown());
    },
    onCreated: (editor: AiEditor) => {
      // 编辑器已经创建成功时，从本地缓存中恢复内容
      // const cache = localStorage.getItem('EDITOR_CACHE');
      // if (cache) {
      //   editor?.focus().insert(cache);
      // }
    }
  });
});

function generate1() {
  if (!value1.value) {
    message.warning('请输入主题')
    return
  }
  generate()
}

function generate2() {
  if (!value2.value) {
    message.warning('请输入主题')
    return
  }
  generate()
}


onUnmounted(() => {
  aiEditor && aiEditor.destroy();
});
</script>

<template>
  <div class="page-ai-editor-container w-full h-full">
    <div class="editor" ref="divRef" />
    <div class="op">
      <div class="group">
        <div class="title">智脑辅助</div>
        <NSpace vertical>
          <NInput v-model:value="value1" type="text" placeholder="请输入主题" />
        </NSpace>      
        <div class="btn-group">
          <div>
            <NButton @click="generate1" :disabled="btnDisabled" type="primary">
              智能成提纲
            </NButton>
            <NButton @click="generate1" :disabled="btnDisabled" type="primary">
              智能成正文
            </NButton>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="title">知识库辅助</div>
        <NSpace vertical>
          <NInput v-model:value="value2" type="text" placeholder="请输入主题" />
        </NSpace>      
        <div class="btn-group">
          <div>
            <NButton @click="generate2" :disabled="btnDisabled" type="primary">
              知识库生提纲
            </NButton>
            <NButton @click="generate2" :disabled="btnDisabled" type="primary">
              知识库生成正文
            </NButton>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="title">辅助工具</div>
        <!-- <NSpace vertical>
          <NInput v-model:value="value" type="text" placeholder="请输入主题" />
        </NSpace>       -->
        <div class="btn-group">
          <div>
            <NButton @click="generate" :disabled="btnDisabled" type="primary">
              中译英
            </NButton>
            <NButton @click="generate" :disabled="btnDisabled" type="primary">
              英译中
            </NButton>
            <NButton @click="generate" :disabled="btnDisabled" type="primary">
              内容优化
            </NButton>
            <NButton @click="generate" :disabled="btnDisabled" type="primary">
              内容校对
            </NButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
.page-ai-editor-container {
  // padding: 20px;
  display: flex;
  > div {
    width: 50%;
  }
  .editor {
    padding: 20px 0 20px 20px;
  }
  .op {
    padding: 20px 20px 20px 20px;
    .group {
      padding: 20px;
      border: 2px solid rgb(226, 232, 240);
      border-radius: 7px;
      margin-bottom: 20px;
    }
    .title {
      background: rgb(237, 242, 247);
      display: inline-block;
      padding: 2px 4px;
      border-radius: 8px;
      color: rgb(113, 128, 150);
      font-size: 18px;
      margin-bottom: 12px;
    }
    .btn-group {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      button {
        margin: 0 5px;
      }
    }
  }
}
</style>
